@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: 'Inter', sans-serif;
}

html {
  font-family: var(--font-inter), system-ui, sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  color: #111827;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
